*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

}

:root{
    --alrsize : 60rem ;
}

.ludocontainer{
    background-color: aliceblue;
    width: calc( var( --alrsize ) );
    height: calc( var( --alrsize ) );
    display: grid;
    grid-template-columns: calc( var( --alrsize )  * .4) calc( var( --alrsize )  * .2) calc( var( --alrsize )  * .4);
    grid-template-rows: calc( var( --alrsize )  * .4) calc( var( --alrsize )  * .2) calc( var( --alrsize )  * .4);

}


.house1{
    width: calc( var( --alrsize )  * .4);
    height: calc( var( --alrsize )  * .4);
    border: 1px solid black;
    background-color: red;
    grid-row: 1 / 2;
    grid-column:  1 / 2 ;
    display: grid;
    place-items: center;
    position: relative;

}

.insidehouse{
    width: calc( var( --alrsize )  * .32);
    height: calc( var( --alrsize )  * .32);
    background-color: white;
    position: relative;

}

.circle {
    display: grid;
    place-content: center;
}

.circle:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: calc( var( --alrsize )  * .08);
    height: calc( var( --alrsize )  * .08);
    border-radius: 50%;
    background-color: red;
    margin: calc( var( --alrsize )  * .04);
}

.circle:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: calc( var( --alrsize )  * .08);
    height: calc( var( --alrsize )  * .08);
    border-radius: 50%;
    background-color: red;
    margin: calc( var( --alrsize )  * .04);
}

.circle:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc( var( --alrsize )  * .08);
    height: calc( var( --alrsize )  * .08);
    border-radius: 50%;
    background-color: red;
    margin: calc( var( --alrsize )  * .04);
}

.circle:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc( var( --alrsize )  * .08);
    height: calc( var( --alrsize )  * .08);
    border-radius: 50%;
    background-color: red;
    margin: calc( var( --alrsize )  * .04);
}

.housespace12{
    width: calc( var( --alrsize )  * .2);
    height: calc( var( --alrsize )  * .4);
    grid-row: 1 / 2;
    grid-column:  2 / 3 ;
}

.housespace23{
    width: calc( var( --alrsize )  * .4);
    height: calc( var( --alrsize )  * .2);
    grid-row: 2 / 3;
    grid-column:  3 / 4 ;
}

.housespace34{
    width: calc( var( --alrsize )  * .2);
    height: calc( var( --alrsize )  * .4);
    grid-row: 3 / 4;
    grid-column:  2 / 3 ;
}

.housespace41{
    width: calc( var( --alrsize )  * .4);
    height: calc( var( --alrsize )  * .2);
    grid-row: 2 / 3;
    grid-column:  1 / 2 ;
}

.cell{
    border: calc( var( --alrsize )  * .0033) solid black;
    width: calc( var( --alrsize )  * .06);
    height: calc( var( --alrsize )  * .06);
    display: inline-block;
    float: right;
    margin: 0;
    display: grid;
    place-items: center;
}



.house1 > .dice{
    width: calc( var( --alrsize ) * .1);
    height: calc( var( --alrsize ) * .1);
    background-color: black;
    display: inline-block;
    position: absolute;
    left: calc(-1* var( --alrsize ) * .108);
    top: 0;

}

.house2 > .dice{
    width: calc( var( --alrsize ) * .1);
    height: calc( var( --alrsize ) * .1);
    background-color: black;
    display: inline-block;
    position: absolute;
    right: calc(-1* var( --alrsize ) * .108);
    top: 0;

}

.house3 > .dice{
    width: calc( var( --alrsize ) * .1);
    height: calc( var( --alrsize ) * .1);
    background-color: black;
    display: inline-block;
    position: absolute;
    right: calc(-1* var( --alrsize ) * .108);
    bottom: 0;

}

.house4 > .dice{
    width: calc( var( --alrsize ) * .1);
    height: calc( var( --alrsize ) * .1);
    background-color: black;
    display: inline-block;
    position: absolute;
    left: calc(-1 * var( --alrsize ) * .108);
    bottom: 0;

}


.dice > img {
    padding: calc( var( --alrsize ) * .015);
    width: calc( var( --alrsize ) * .07);
    height: calc( var( --alrsize ) * .07);
}

#b1,#b2,#b3,#b4,#b5,#c15_02_41_28{
    background-color: blue;
}

#y1,#y2,#y3,#y4,#y5,#c28_15_02_41{
    background-color: yellow;
}

#g1,#g2,#g3,#g4,#g5,#c41_28_15_02{
    background-color: green;
}

#r1,#r2,#r3,#r4,#r5,#c02_41_28_15{
    background-color: red;
}


.house2{
    width: calc( var( --alrsize )  * .4);
    height: calc( var( --alrsize )  * .4);
    border: 1px solid black;
    background-color: blue;
    grid-row: 1 / 2 ;
    grid-column:  3 / 4 ;
    display: grid;
    place-items: center;
    position: relative;
    
}


.house3{
    width: calc( var( --alrsize )  * .4);
    height: calc( var( --alrsize )  * .4);
    border: 1px solid black;
    background-color: yellow;
    grid-row: 3 / 4;
    grid-column:  3 / 4 ;
    display: grid;
    place-items: center;
    position: relative;
    
}

.house4{
    width: calc( var( --alrsize )  * .4);
    height: calc( var( --alrsize )  * .4);
    border: 1px solid black;
    background-color: green;
    grid-row: 3 / 4;
    grid-column:  1 / 2 ;
    display: grid;
    place-items: center;
    position: relative;
    
    
}

.destination{
    width: calc( var( --alrsize )  * .2);
    height: calc( var( --alrsize )  * .2);
    grid-column: 2 / 3 ;
    grid-row: 2 / 3 ;
    position: relative;
}

.dh1{
    position: absolute;
    left: 0;
    width: calc( var( --alrsize )  * .1);
    height: calc( var( --alrsize )  * .2);
    clip-path: polygon(0 0 , 100% 50% , 0 100%);
    background-color: red;
}

.dh2{
    position: absolute;
    top: 0;
    width: calc( var( --alrsize )  * .2);
    height: calc( var( --alrsize )  * .1);
    clip-path: polygon(0 0 , 50% 100% , 100% 0);
    background-color: blue;
}


.dh4{
    position: absolute;
    bottom: 0;
    width: calc( var( --alrsize )  * .2);
    height: calc( var( --alrsize )  * .1);
    clip-path: polygon(0 100% , 50% 0 , 100% 100%);
    background-color: green;
}

.dh3{
    position: absolute;
    right: 0;
    width: calc( var( --alrsize )  * .1);
    height: calc( var( --alrsize )  * .2);
    clip-path: polygon(100% 0 , 0 50% , 100% 100%);
    background-color: yellow;
}


@media (min-width:320px)  {
     /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
     :root{
        --alrsize : 30rem ;
    }
    
}
@media (min-width:480px)  {
     /* smartphones, Android phones, landscape iPhone */ 
     :root{
        --alrsize : 45rem ;
    }
}
@media (min-width:600px)  {
     /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
     :root{
        --alrsize : 50rem ;
    }
}
@media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    :root{
        --alrsize : 55rem ;
    }

}
@media (min-width:1025px) {
     /* big landscape tablets, laptops, and desktops */ 
     :root{
        --alrsize : 60rem ;
    }
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    :root{
        --alrsize : 60rem ;
    }

}

#rplayer1,#rplayer2,#rplayer3,#rplayer4{
    height: calc( var( --alrsize ) * .05);
    width: calc( var( --alrsize ) * .05);
    background-color: black;
}

#bplayer1,#bplayer2,#bplayer3,#bplayer4{
    height: calc( var( --alrsize ) * .05);
    width: calc( var( --alrsize ) * .05);
    background-color: black;
}

#yplayer1,#yplayer2,#yplayer3,#yplayer4{
    height: calc( var( --alrsize ) * .05);
    width: calc( var( --alrsize ) * .05);
    background-color: black;
}

#gplayer1,#gplayer2,#gplayer3,#gplayer4{
    height: calc( var( --alrsize ) * .05);
    width: calc( var( --alrsize ) * .05);
    background-color: black;
}